.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background-color: #bbb;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.custom-checkbox:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.3s ease;
}


.custom-checkbox:checked {
  background-color: black; 
}

.custom-checkbox:checked:before {
  transform: translateX(25px); 
}


.custom-checkbox:focus {
  outline: none;
}
