.post-form-container {
  background-color: #f8f9fa;
  color: #212529;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.form-control {
  background-color: #ffffff;
  color: #212529;
  border: 1px solid #ced4da;
}

.form-control::placeholder {
  color: #6c757d;
}

.form-label {
  color: #212529;
}

.btn-light {
  background-color: #007bff;
  color: #ffffff;
  border: none;
}

.btn-light:hover {
  background-color: #0056b3;
}

textarea {
  resize: none;
}
